@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&display=swap');


body{
    font-family:"QuickSand", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.card-img-top{
    height: 250px;
    object-fit: cover;
}

.search{
    --padding: 14px;

    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
    width: 300px;
    margin-right: 24px;
}

.search:focus-within{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    flex: 1;
}

.search-input::placeholder,
.search-icon{
    color: rgba(0, 0, 0, 0.5);

}


@media (max-width: 480px) {
    .search {
      flex-direction: row;
      align-items: stretch;
      gap: 5px;
    }
  
    .search-input {
      font-size: 0.8rem;
      width: 100%;
    }
  
    .search-icon {
      align-self: center;
      font-size: 1.5rem;
    }
  }
